.main-title{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}
.main-title img{
  height: 140px;
  width: 110px;
}
.main-title__span{
  width:55% ;
  height: 45px;
  background-color:rgb(31, 71, 52) ;
  border-radius: 20pt;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: -35px;
  z-index: -1;

}

.openbox{
  background-color: rgb(239, 180, 127);
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 40px;
  z-index: -2;
}

.find-form{
 margin-top: 180px;
 font-family: subfont;
}

.find-form__title{
  text-align: center;
  font-size: 25px;
}

.find-form__room{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.find-form__room__join{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.find-form__room__join span{
  margin-bottom: 6px;
  font-family:subfont;
}
.find-form__room__join span:nth-child(2){
  opacity: 0.8;
  font-weight:500;
}
.find-form__room__join button{
  margin-top: 8px;
  border:none;
  border-radius: 20px;
  border: solid 1px var(--main-color);
  color: var(--main-color);
  background-color: white;
  font-family: mainfont;
  padding: 6px 0;
}

.find-form__room__mebers{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.find-form__room__mebers__active{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: subfont;
  font-size: 12px;
  position: absolute;
  background-color: rgb(239, 180, 127);
  width: 72pt;
  border-radius: 20px;
  padding: 2px 0;
  bottom: -22px;
  left: -10px;
}
.find-form__room__mebers__active span:first-child{
  color: white;
}
.find-form__room__mebers__active span:last-child{
  color: var(--main-color);
}


