.index-body{
  background-color:rgb(239, 180, 127);
}
.welcome-header {
  margin-top: 130px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  position: relative;
}

.welcome-header div:last-child{
  margin-top: 20px;
}
.welcome-header__title {
  font-size: 25px;
  font-weight: 1000;
}
.welcome-header__title:first-child{
  color: white;
  margin-bottom: 5px;
}
.welcome-header__title:last-child{
  color:rgb(104, 61, 41);
}
.welcome-header__text {
  color: white;
  font-family: subfont;
}

.welcome-header__circle{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0.2;
  background-color: white;
  position: absolute;
  z-index: -1;
  top: -80px;
  left: -80px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  background-color: white;
  height: 380px;
  border-radius: 60pt;
  padding:  30px;
  position: relative;
  padding-top: 50px;
}

#login-form input {
  border: none;
  padding: 20px;
  font-size: 18px;
  font-family: inherit;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgb(104, 61, 41);
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgb(104, 61, 41);
  font-size: 15px;
  font-family: subfont;
}
#login-form input:focus {
  border-color: rgb(104, 61, 41);
}

#login-form input[type="submit"] {
  background-color: rgb(104, 61, 41);
  cursor: pointer;
  padding: 20px 0px;
  margin: 40px 0;
  border-radius: 20px;
  color: white;
  margin-top: 70px;
}
#login-form a {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: rgb(104, 61, 41);
  font-family: subfont;
}

.form-shadow{
  position: absolute;
  top: -20px;
  left: 20px;
  width: 90%;
  height: 40%;
  background-color: white;
  border-radius: 60pt;
  z-index: -1;
  opacity: 0.2;
}

.form-line{
  width: 30%;
  height: 4pt;
  background-color: rgb(239, 180, 127);
  z-index: 5;
  border-radius: 3pt;
  position: absolute;
  top: 20px;
}

.form-lines{
  display: flex;
  justify-content: center;
  align-items: center;
}
