
.more-screen .icon-row{
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;

}
.more-screen .icon-row__icon:first-child,
.more-screen .icon-row__icon:last-child {
  align-items: flex-end;

}
.more-screen .icon-row__icon:nth-child(2){
  padding: 10px;
}

.more-screen .icon-row__icon{
  margin-bottom: 40px;
  display: flex;
}
.more-screen .icon-back{
  position: absolute;
  width: 70%;
  height: 450px;
  right: 0;
  bottom: 36px;
  z-index: -2;
  background-color: rgb(239, 180, 127);
  border-top-left-radius: 60pt;
  border-bottom-left-radius: 60pt;
}

.icon-center img{
  width: 110px;
  height: 160px;
  margin-left: 50px;
  margin-top: 20px;
}
.icon-center{
  background-color: white;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  position: absolute;
  right: -45px;
  bottom: 175px;
}