.openbox .icon-row {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  padding: 25px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 35px;
  color: white;
  margin-bottom: 4px;
}
.find-icons__icon span {
  font-size: 5pt;
}

.icon-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(239, 180, 127);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle i{
  color: white;
}