.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 20px 50px;
  box-sizing: border-box;
  box-shadow: 3pt 3pt 20pt 0 rgba(93, 56, 19, 0.25);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: appearNav 1s ease-in-out;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color:rgba(104, 61, 41,1);
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__redcircle {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  left: 30px;
}

@keyframes appearNav {
  from{
    transform: translateY(80px);
  }
  to{
    transform: none;
  }
}
