.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  padding-top: 30px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.screen-header__title{
  width: 90px;
  height: 32px;

}
.screen-header__icons{
  display: flex;
  justify-content: center;
  align-items: center;

}
.screen-header__icons .icon-circle:nth-child(2){
  margin: 0 10px;
}