.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  font-family: subfont;
  color: black;
}

.status-bar span{
  font-weight: bold;
}

.status-bar__column i:last-child{
  margin-right: 45px;
}