.user-component {
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: var(--main-color);
  font-family: subfont;
}
.user-component__avata--xl {
  width: 80px;
  height: 80px;
}

.user-component__avata--sm {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
  font-family: subfont;
}

.user-component__column__check-box{
  height: 30px;
  width: 30px;
  background-color:rgb(238, 238, 238) ;
}

.user-component__column .badge{
  position: absolute;
  top: -5px;
  left: 50px;
}

.user-component__column i{
  font-size: 25px;
  color: rgba(104, 61, 41,1);
}

.chats-header__piture{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 3px 3px 10px 0 rgba(175, 115, 37, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.chats-header__piture img{
  margin-top: 5px;
  width: 35px;
  height: 48px;
}